@font-face {
  font-family: MedievalSharp;
  src: url("../fonts/MedievalSharp.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: MedievalSharp;
}

body {
    min-height: 100vh;
}

#start-game-screen {
min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-game-btn {
  padding: 0.5em 1.25em;
  font-size: 1.25rem;
}

#game-screen {
    min-height: 100vh;
    display: none;
    background-image: url("../image/Board.jpg");
    background-size: 100% 100%;                                                
    background-position: center;
    background-repeat: no-repeat;
}