@font-face {
  font-family: MedievalSharp;
  src: url("../fonts/MedievalSharp.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: MedievalSharp;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-screen {
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

#register-screen,#log-in-screen {
  background: url("../images/entrance_door.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#register-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  color: white;
  text-align: left;
}

h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
}

input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-bottom: 2px solid lightblue;
}

#register-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  background: white;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#register-btn:hover {
  text-decoration: underline;
  color: #ddd1d1af;
}

#register-para {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: left;
}

#log-in-screen
{
font-size: xx-large;

}

#eus-btn
{
  position: absolute;
  width: 75px;
  height: 45px;
  margin-top: -40vh;
  margin-left: -44vw;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Flag_of_the_Basque_Country.svg/2560px-Flag_of_the_Basque_Country.svg.png);
  background-size: 75px;
}

#eng-btn
{
  position: absolute;
  width: 75px;
  height: 45px;
  margin-top: -40vh;
  margin-left: -41vw;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/1280px-Flag_of_the_United_Kingdom_%283-5%29.svg.png);
  background-size: 75px;

}

#delete-ls-btn
{

  width: 300px;
  height: 30px;
  background-size: 75px;
}

#email
{
  width: 300px;
  height: 30px;
  font-size: x-large;
}

#password
{
  width: 300px;
  height: 30px;
  font-size: x-large;
}

#log-in-btn
{
  width: 145px;
  height: 30px;
  font-size: x-large;
}

#reset
{
  width: 145px;
  height: 30px;
  font-size: x-large;
}

#player-session-screen {
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-image: url("../images/player_session_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#player-session-container {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "data     log-out"
    "opp-sel  opp-sel"
    "start    start";
  gap: 2em;
  padding: 2.5em;
  border-radius: 16px;
  background-color: rgb(0 0 0 / 0.8);
  color: white;
}

#player-data {
  grid-area: data;
}

#log-out-btn {
  grid-area: log-out;
}

#opponent-select-container {
  grid-area: opp-sel;
  display: flex;
  flex-direction: column;
}

#start-game-btn {
  grid-area: start;
  padding: 0.5em 1.25em;
  font-size: 1.25rem;
}
#log-off-btn {
  padding: 0.5em 1.25em;
  font-size: 1.25rem;
}

#game-screen {
  display: none;
}
